<section class="monthly-summary">
    <div>
        <div class="monthly-summary__total">
            300€
            <span class="monthly-summary__slash">/</span>
            <span class="monthly-summary__salary">2100€</span>
        </div>
        <div class="monthly-summary__sum">
            <div class="monthly-summary__fixed">
                200€
            </div>
            <span class="monthly-summary__plus"> + </span>
            <div class="monthly-summary__variable">
                100€
            </div>
        </div>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#0099ff" fill-opacity="1" d="M 0 67 C 273,183   822,-40   1920,106 V 359  H 0  V 67 Z">
            <animate repeatCount="indefinite" attributeName="d" dur="15s"
                     values=" M0 77 C 473,283   822,-40   1920,116 V 359 H 0 V 67 Z; M0 77 C 473,-40   1222,283   1920,136 V 359 H 0 V 67 Z; M0 77 C 973,260   1722,-53   1920,120 V 359 H 0 V 67 Z;  M0 77 C 473,283   822,-40   1920,116 V 359 H 0 V 67 Z ">
            </animate>
        </path>
    </svg>
</section>
