.name {
  margin: 0 0 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.date {
  margin: 0;
  opacity: 0.4;
  font-size: 14px;
}

.quantity {
  font-family: 'Inria Sans', sans-serif;
  margin: 0;
  font-size: 20px;
  text-align: right;
}
