.monthly-expenses-item {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__name {
    margin: 0 0 5px;
  }

  &__date {
    margin: 0;
    opacity: 0.4;
  }

  &__price {
    font-family: 'Inria Sans', sans-serif;
    margin: 0;
    font-size: 20px;
  }
}
